<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_url('cocktail.jpg')%>);">
  <div class="container">
    <h1>Cocktail list</h1>
    <p>The best cocktails you've ever tried !</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="card-product p-2 m-3">
      <% if cocktail.photo.attached? %>
        <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
        <div class="card-product-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
            <% cocktail.doses.each do |dose|%>
            <p>
            <span><%= dose.description %></span>
            <span><%= dose.ingredient.name %></span>
            </p>
            <% end %>
        </div>
      </div>
    <% end %>   

  </div>
</div>